* {
    font-family:'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #1947FF;
}

.page-left {
    margin-left: 40px;
    padding-right: 100px;
}

.page-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.page-right {
    margin-right: 40px;
    padding-left: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

#rock {
    background-color: #798080;
    border-color: #D6D6D6;
    border-style: solid;
}

#rock:active {
    transform: translateY(2px);
}

#paper:active {
    transform: translateY(2px);
}

#scissors:active {
    transform: translateY(2px);
}

#paper {
    border-color: black;
    border-style: dotted;
}

#scissors {
    background-color: #D09338;
    border-color: #4719FF;
    border-style: dashed;
}

.btn:hover {
    transform: scale(1.2);
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
}

.scoreboard-left {
    background-color: #179B80;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: black;
    width: 170px;
}

.scoreboard-right {
    background-color: #6E0C1F;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: black;
    width: 170px;
}

.output {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    width: 500px;
    color: white;
}

#outputText {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
}

#secondary-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #B049CA;
}

.text {
    font-size: 20px;
}

#player {
    font-weight: 700;
    padding-left: 20px;
}

#computer {
    font-weight: 700;
    padding-left: 5px;
}

.refresh-button {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    color: black;
}

.refresh-button:hover {
    transform: scale(1.2);
}

#gamesWonLeft, #gamesWonRight {
    color: #19E8FF;
    font-size: 400px;
}